extends ./layout/index

block slider 
    .slider 
        h1 Rios de Janeiro 
        em aventura

block contenido 
    main.container.mt-5 
        h2.text-center.mb-5 Sobre nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet rutrum elit, sed tristique turpis dignissim nec. Phasellus hendrerit blandit ante, vel lacinia mi posuere ac. Cras vitae mi porttitor, tincidunt sapien id, vestibulum magna. Sed vitae tellus at ipsum consectetur vehicula. 

                p Suspendisse iaculis quam vitae mi consequat, vestibulum molestie diam finibus. Donec consectetur leo et velit volutpat dapibus. Cras diam elit, volutpat non nunc non, mattis mattis mauris. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid" )
        
        include ./layout/bloque_viajes 
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2024 - 28 de Marzo de 2024
                        p.precio $2.500 USD
            
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales