extends ./layout/index
 
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class='img-fluid')
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra, mi non scelerisque aliquam, dolor enim bibendum ligula, non iaculis nibh eros a elit. Vivamus maximus felis sed interdum sagittis. Donec mattis ipsum et egestas placerat. Aliquam lorem purus, sodales in magna id, dapibus pulvinar nisi. Phasellus quis consequat erat, dignissim bibendum diam. Maecenas vel consectetur urna, vel interdum lorem. Vestibulum a ultricies sapien. Suspendisse in vulputate neque. Nulla fermentum urna sed arcu ullamcorper, eget tristique augue pharetra. Duis aliquam ornare tristique. Vestibulum vehicula dictum mauris nec consectetur. Nunc nec urna metus. Curabitur pellentesque odio justo, in ornare dui blandit ornare. Donec ut magna id lorem cursus hendrerit.

                p Aliquam erat volutpat. Quisque placerat sapien tortor, et pretium purus dapibus vitae. Sed malesuada ex a nulla scelerisque, pharetra auctor neque semper. Ut non eros dolor. Integer suscipit feugiat nibh quis dictum. Integer sed felis viverra, ultrices purus quis, convallis ipsum. Sed tempor diam nunc, eu varius erat tincidunt nec. Phasellus et quam a lacus viverra pretium. Vestibulum convallis id orci eget accumsan. Quisque in ultrices purus. Aliquam vitae porta sapien, at venenatis lacus.

                p Praesent dapibus elit dolor, vel ultrices sem tempus quis. Phasellus vestibulum suscipit dolor, vitae malesuada massa maximus sit amet. Nam sed purus vel nisl consequat porttitor. Nunc convallis at quam ac commodo. Sed at varius enim, dignissim tincidunt nisl. Donec eget feugiat dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vel sapien et sem vulputate molestie ut non sapien. Fusce imperdiet hendrerit elementum. Sed ornare porttitor malesuada. Quisque et quam at velit lacinia lobortis vel et diam. Ut nec eros sit amet sapien venenatis lacinia. Etiam sagittis mollis quam, ut sagittis dolor maximus ac. Aenean libero urna, ultricies in enim at, sodales lobortis dolor. Cras pharetra nisi a ipsum dapibus, in hendrerit ex tempor. 

    .listado-iconos     
        .container.mt-5.py-5.text-center    
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Praesent dapibus elit dolor, vel ultrices sem tempus quis. Phasellus vestibulum suscipit dolor, vitae malesuada massa maximus sit amet. Nam sed purus vel nisl consequat porttitor. Nunc convallis at quam ac commodo. Sed at varius enim, dignissim tincidunt nisl. Donec eget feugiat dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vel sapien et sem vulputate molestie ut non sapien. Fusce imperdiet hendrerit elementum. Sed ornare porttitor malesuada. Quisque et quam at velit lacinia lobortis vel et diam. Ut nec eros sit amet sapien venenatis lacinia. Etiam sagittis mollis quam, ut sagittis dolor maximus ac. Aenean libero urna, ultricies in enim at, sodales lobortis dolor. Cras pharetra nisi a ipsum dapibus, in hendrerit ex tempor. 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Praesent dapibus elit dolor, vel ultrices sem tempus quis. Phasellus vestibulum suscipit dolor, vitae malesuada massa maximus sit amet. Nam sed purus vel nisl consequat porttitor. Nunc convallis at quam ac commodo. Sed at varius enim, dignissim tincidunt nisl. Donec eget feugiat dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vel sapien et sem vulputate molestie ut non sapien. Fusce imperdiet hendrerit elementum. Sed ornare porttitor malesuada. Quisque et quam at velit lacinia lobortis vel et diam. Ut nec eros sit amet sapien venenatis lacinia. Etiam sagittis mollis quam, ut sagittis dolor maximus ac. Aenean libero urna, ultricies in enim at, sodales lobortis dolor. Cras pharetra nisi a ipsum dapibus, in hendrerit ex tempor. 

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Praesent dapibus elit dolor, vel ultrices sem tempus quis. Phasellus vestibulum suscipit dolor, vitae malesuada massa maximus sit amet. Nam sed purus vel nisl consequat porttitor. Nunc convallis at quam ac commodo. Sed at varius enim, dignissim tincidunt nisl. Donec eget feugiat dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin vel sapien et sem vulputate molestie ut non sapien. Fusce imperdiet hendrerit elementum. Sed ornare porttitor malesuada. Quisque et quam at velit lacinia lobortis vel et diam. Ut nec eros sit amet sapien venenatis lacinia. Etiam sagittis mollis quam, ut sagittis dolor maximus ac. Aenean libero urna, ultricies in enim at, sodales lobortis dolor. Cras pharetra nisi a ipsum dapibus, in hendrerit ex tempor. 
